.text-editor-header{
    background: -webkit-linear-gradient(90deg, #dabbe2,#bac1ee);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #dabbe2,#bac1ee);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}
.content{
    height: 350px;
    outline: none;
    overflow: auto;
}
.card{
box-shadow: 0px 0px 17px -1px #000000;
}
img{
    height: 140px;
    width: 140px;
}
body{
    background: -webkit-linear-gradient(90deg, #dabbe2,#bac1ee);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #dabbe2,#bac1ee);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}
